.basket-container {
  position: absolute;
  left: 0%;
  top: 82%;
  width: 14%;
}

.basket-container__apples {
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 60%;
  z-index: -1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.basket-container__apples img {
  width: 15%;
}

.basket-container__basket {
  width: 100%;
}

/* @media (min-width: 850px) {
  .basket-container {
    width: 6rem;
  }
} */

/* @media (min-width: 350px) and (max-width: 400px) {
  .basket-container {
    top: 63.3%;
  }
  .basket-container__apples {
    bottom: 62%;
  }
}

@media (min-width: 401px) and (max-width: 450px) {
  .basket-container {
    top: 65%;
  }
  .basket-container__apples {
    bottom: 61%;
  }
}

@media (min-width: 451px) and (max-width: 500px) {
  .basket-container {
    top: 66%;
  }
  .basket-container__apples {
    bottom: 61%;
  }
}

@media (min-width: 501px) and (max-width: 550px) {
  .basket-container {
    top: 68%;
  }
  .basket-container__apples {
    bottom: 61%;
  }
}

@media (min-width: 551px) and (max-width: 600px) {
  .basket-container {
    top: 70%;
  }
  .basket-container__apples {
    bottom: 58%;
  }
}

@media (min-width: 601px) and (max-width: 650px) {
  .basket-container {
    top: 72%;
  }
  .basket-container__apples {
    bottom: 58%;
  }
}

@media (min-width: 651px) and (max-width: 700px) {
  .basket-container {
    top: 74%;
  }
  .basket-container__apples {
    bottom: 58%;
  }
}

@media (min-width: 701px) and (max-width: 767px) {
  .basket-container {
    top: 75%;
  }
  .basket-container__apples {
    bottom: 58%;
  }
}

@media (min-width: 768px) {
  .basket-container {
    top: 74%;
  }
  .basket-container__apples {
    bottom: 58%;
  }
  .basket-container__basket {
    width: 6rem;
  }
} */

/* @media (min-width: 751px) and (max-width: 800px) {
  .basket-container {
    top: 74.6%;
  }
  .basket-container__apples {
    bottom: 57%;
  }
}

@media (min-width: 801px) and (max-width: 850px) {
  .basket-container {
    top: 74.6%;
  }
  .basket-container__apples {
    bottom: 57%;
  }
}

@media (min-width: 851px) and (max-width: 900px) {
  .basket-container {
    top: 74.6%;
  }
  .basket-container__apples {
    bottom: 57%;
  }
}

@media (min-width: 901px) and (max-width: 950px) {
  .basket-container {
    top: 74.6%;
  }
  .basket-container__apples {
    bottom: 57%;
  }
}

@media (min-width: 951px) and (max-width: 1000px) {
  .basket-container {
    top: 74.6%;
  }
  .basket-container__apples {
    bottom: 57%;
  }
}

@media (min-width: 1001px) and (max-width: 1050px) {
  .basket-container {
    top: 74.6%;
  }
  .basket-container__apples {
    bottom: 57%;
  }
}

@media (min-width: 1051px) and (max-width: 1100px) {
  .basket-container {
    top: 74.6%;
  }
  .basket-container__apples {
    bottom: 57%;
  }
}

@media (min-width: 1101px) and (max-width: 1150px) {
  .basket-container {
    top: 74.6%;
  }
  .basket-container__apples {
    bottom: 57%;
  }
}

@media (min-width: 1151px) and (max-width: 1200px) {
  .basket-container {
    top: 74.6%;
  }
  .basket-container__apples {
    bottom: 57%;
  }
}

@media (min-width: 1201px) {
  .basket-container {
    top: 74.6%;
  }
  .basket-container__apples {
    bottom: 58%;
  }
} */

@media (min-width: 768px) and (min-height: 900px) {
  .basket-container {
    top: 68%;
  }
  .basket-container__apples {
    bottom: 58%;
  }
}

@media (min-width: 1024px) and (min-height: 1366px) {
  .basket-container {
    top: 63%;
  }
  .basket-container__apples {
    bottom: 58%;
  }
}
