.basket-container {
  position: absolute;
  left: 0%;
  top: 82%;
  width: 14%;
}

.basket-container__apples {
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 61%;
  z-index: -1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.basket-container__apples img {
  width: 20%;
}

.basket-container__basket {
  width: 100%;
}
