.button {
  position: absolute;
  left: 70%;
  top: 10%;
  border: none;
  outline: none;
  padding: 1rem;
  background-color: inherit;
  font-size: 1.1rem;
  border: 2px solid #000;
  border-radius: 1rem;
  cursor: pointer;
}
