@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.button-container {
  position: absolute;
  left: 90%;
  top: 0%;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 26%;
  border: 2px solid green;
  border-radius: 1rem;
  padding: 0.5rem 0rem;
  cursor: pointer;
}

.button-container__tree {
  width: 20%;
  height: 1.8rem;
  margin-left: 0.5rem;
}

.shaking-animation {
  animation: icon-shaking 2s;
}

.button-container__button {
  padding: 0;
  border: 0;
  outline: none;
  background-color: inherit;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
  /* font-weight: bold; */
  /* letter-spacing: 1.1px; */
}

@keyframes icon-shaking {
  0% {
    transform: translateX();
  }
  10% {
    transform: translateX(3px);
  }
  20% {
    transform: translateX(-3px);
  }
  30% {
    transform: translateX(3px);
  }
  40% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(3px);
  }
  60% {
    transform: translateX(-3px);
  }
  70% {
    transform: translateX(3px);
  }
  80% {
    transform: translateX(-3px);
  }
  90% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}
