.apple {
  position: absolute;
  width: 3%;
}

.falling-animation {
  animation-name: falling;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes falling {
  100% {
    top: 245%;
  }
}
