.apple {
  position: absolute;
  width: 1.5rem;
  margin: 0.5rem;
}

.animation {
  animation-name: falling;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes falling {
  100% {
    top: 30rem;
  }
}
