.apple {
  position: absolute;
  width: 0.45rem;
}

.animation {
  animation-name: falling;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@media (min-width: 350px) and (max-width: 400px) {
  .apple {
    width: 0.5rem;
  }
}
@media (min-width: 401px) and (max-width: 450px) {
  .apple {
    width: 0.55rem;
  }
}
@media (min-width: 451px) and (max-width: 500px) {
  .apple {
    width: 0.6rem;
  }
}

@media (min-width: 501px) and (max-width: 550px) {
  .apple {
    width: 0.66rem;
  }
}

@media (min-width: 551px) and (max-width: 600px) {
  .apple {
    width: 0.7rem;
  }
}
@media (min-width: 601px) and (max-width: 650px) {
  .apple {
    width: 0.8rem;
  }
}
@media (min-width: 651px) and (max-width: 700px) {
  .apple {
    width: 0.9rem;
  }
}
@media (min-width: 701px) and (max-width: 750px) {
  .apple {
    width: 0.95rem;
  }
}

@media (min-width: 751px) {
  .apple {
    width: 1rem;
  }
}

@keyframes falling {
  100% {
    top: 30.15rem;
  }
}
