.tree-container {
  width: 100%;
}

.tree {
  width: 100%;
}

.shaking-animation {
  animation-name: shaking;
  animation-duration: 1s;
  animation-iteration-count: 3;
  /* 3 veya infinite eşit. Animation class'ı 3s kaldığı için ikiside kullanılabilir. */
}

@keyframes shaking {
  0% {
    transform: translateX();
  }
  10% {
    transform: translateX(5px);
  }
  20% {
    transform: translateX(-5px);
  }
  30% {
    transform: translateX(5px);
  }
  40% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  70% {
    transform: translateX(5px);
  }
  80% {
    transform: translateX(-5px);
  }
  90% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
